/* MAIN ARTICLE CSS*/

.main {
  background-color: #131313;
  height: 90vh;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 13000px;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  /* background-color: #ff8177;
      background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
  background-color: #af5050;
  background-image: linear-gradient(to top, #92782e 0%, #f5cb5c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content h2 {
  font-size: 4rem;
  /* background-color: #ff8177; */
  background-color: #af5050;
  background-image: linear-gradient(to top, #92782e 0%, #f5cb5c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main_content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #e8eddf;
}

.main_btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #833343 0%, #ff6584 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background-color: #5e17eb; */
  background-color: #3f3d56;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #ffffff;
}

.main_btn:hover:after {
  width: 100%;
}

.main_img-container {
  text-align: center;
}

#main_img {
  height: 80%;
  width: 80%;
}

/* MEDIA */
@media screen and (max-width: 768px) {
  .main_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }

  .main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .main_btn {
    margin: 2rem 15rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 530px) {
  .main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main_content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .main_content p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
